@font-face {
    font-family: 'adidas';
    src: url('../texgyreadventor-bold.otf');
format('truetype');  }

html {
    width: 200px;
    height: auto;  }

body{
    font-family: adidas;  }

#title {
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 1em;  }

.shoe-size-container, .clothing-size-container{
    font-size: 1.1em;
    padding-bottom: 1em;  }

#timer{
    font-size: 1.1em;
    padding-right: 1em; }

.options-container{
    padding-bottom: 1em;  }


